* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    background-color: #FB6F92;
}

.logo a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
}