.container {
    text-align: center;
}

nav {
    padding: 1rem;
    background-color: #FB6F92;
}

.logo a {
    font-size: 2rem;
    color: lightcyan;
    text-decoration: none;
}

/* img */
.blog-item img {
    padding: 2rem;
    width: 50%;
}
/* หมวดกระเป๋า */
.blog-con {
    display: grid;
    grid-template-columns: repeat(3,3fr);
    column-gap: 2rem;
}